{% extends "subpage_base.html" %}
{% load i18n compress static %}
{% block title %}Tietoa palvelusta{% endblock %}

{% block content %}
<h1>Tietoa palvelusta</h1>

<div class="row">
    <div class="about-info-column">
        <h2>Päätökset</h2>
        <p>Palvelussa voit selata Jyväskylän kaupungin hallinnossa vireille tulleita asioita ja niiden käsittelyä eri toimielimissä. Voit selata asioita aiheiden, alueiden ja asiasanojen mukaan tai katsoa tietyn toimielimen kokouksissa käsiteltyjä asialistoja.</p>

        <h4>Yleistä palvelusta</h4>
        <p>Päätökset-palvelun sisältö haetaan Jyväskylän kaupungin toimielinten pöytäkirjoista. Tiedot päivittyvät rajapintaan kerran vuorokaudessa. Palvelun on toteuttanut <a href="http://koodilehto.fi">Koodilehto Osk</a>.
    </div>
</div>

{% endblock %}
