{% extends "subpage_base.html" %}
{% load i18n compress static %}
{% block title %}Tietoa palvelusta{% endblock %}

{% block content %}
<h1>Tietoa palvelusta</h1>

<div class="row">
    <div class="about-info-column">
        <p>
	  Palvelussa voit selata Jyväskylän kaupungin hallinnossa
          vireille tulleita asioita ja niiden käsittelyä eri
          toimielimissä. Voit selata asioita aiheiden, alueiden ja
          asiasanojen mukaan tai katsoa tietyn toimielimen kokouksissa
          käsiteltyjä asialistoja.
	</p>

        <h4>Yleistä tietoa palvelusta</h4>
        <p>
	  Palvelun käyttöliittymässä esitetty sisältö haetaan
          <a href="http://jkl.paatokset.fi/v1/">ohjelmointirajapinnan</a>
          (API) tiedoista, jotka päivittyvät Jyväskylän kaupungin
          toimielinten pöytäkirjoista kerran vuorokaudessa.
	</p>
	<p>
	  Palvelun käyttöliittymän totetus pohjautuu
	  <a href="http://dev.hel.fi/apis/openahjo">Helsingin
	  kaupungin OpenAhjo-käyttöliittymän</a>
	  toteutukseen. API-palvelu on itsenäinen toteutus, joka on
	  rajapinnaltaan yhteensopiva OpenAhjo APIn
	  kanssa. Yhteensopivuus mahdollistaa jaetun
	  käyttöliittymätotetuksen lisäksi myös kolmansien osapuolien
	  sovellusten toiminnan ohjelmointirajapintojen välillä.
	</p>
	<p>
	  Sekä käyttöliittymän että ohjelmointirajapinnan
	  ohjelmakoodit ovat avointa lähdekoodia:
	  <ul>
	    <li><a href="https://github.com/koodilehto/klupu/">Ohjelmointirajapinnan lähdekoodit</a></li>
	    <li><a href="https://github.com/koodilehto/openahjo/">Käyttöliittymän lähdekoodit</a></li>
	  </ul>
	</p>
	<p>
	  Palvelun on
          toteuttanut <a href="http://koodilehto.fi">Koodilehto
          Osk</a>.
	</p>
    </div>
    <div class="about-feedback-column">
      <div class="content">
        <h2>Palaute</h2>
        <p>Palveluun liittyvissä asioissa voit ottaa yhteyttä <a href="http://koodilehto.fi">Koodilehtoon</a> <a href="mailto:info@koodilehto.fi">sähköpostitse</a>.</p>
      </div>
      <div class="content logos">
        <a href="http://ec.europa.eu/regional_policy/index_en.htm"><img src="{% static 'img/eu-5000100-flag.gif' %}" /></a>
        <a href="http://www.interreg4c.eu/"><img src="{% static 'img/INTERREG_IVC_LOGO.png' %}" /></a>
        <a href="http://koodilehto.fi/"><img src="{% static 'img/koodilehto.png' %}" /></a>
        <a href="http://jkl.fi/"><img src="{% static 'img/jyvaskyla.png' %}" /></a>
      </div>
    </div>
</div>

{% endblock %}
